<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,113}</string>
                <key>spriteSourceSize</key>
                <string>{85,113}</string>
                <key>textureRect</key>
                <string>{{1,32},{85,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clickPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{116,32},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guideText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,29}</string>
                <key>spriteSourceSize</key>
                <string>{205,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_guide.png</string>
            <key>size</key>
            <string>{207,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a75fa88e41800185679aa48826cf067:e6ad85baaf614dbea92bcfe18c636768:12ba7e960c7f60545dd6eff884e1cdeb$</string>
            <key>textureFileName</key>
            <string>ui_guide.png</string>
        </dict>
    </dict>
</plist>
