<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{773,218},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{34,22}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{747,310},{34,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{231,911},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,24}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{747,218},{90,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,67}</string>
                <key>spriteSourceSize</key>
                <string>{228,67}</string>
                <key>textureRect</key>
                <string>{{1,867},{228,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyesBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{741,678},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyesInside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,35}</string>
                <key>spriteSourceSize</key>
                <string>{224,35}</string>
                <key>textureRect</key>
                <string>{{741,400},{224,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameViewBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{741,626},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,447}</string>
                <key>spriteSourceSize</key>
                <string>{505,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{505,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{478,691},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,185}</string>
                <key>spriteSourceSize</key>
                <string>{318,185}</string>
                <key>textureRect</key>
                <string>{{554,400},{318,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftLid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{231,867},{132,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myBody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,239}</string>
                <key>spriteSourceSize</key>
                <string>{551,239}</string>
                <key>textureRect</key>
                <string>{{1,450},{551,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,111}</string>
                <key>spriteSourceSize</key>
                <string>{25,111}</string>
                <key>textureRect</key>
                <string>{{365,691},{25,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>opBody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,215}</string>
                <key>spriteSourceSize</key>
                <string>{290,215}</string>
                <key>textureRect</key>
                <string>{{508,1},{290,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,180}</string>
                <key>spriteSourceSize</key>
                <string>{237,180}</string>
                <key>textureRect</key>
                <string>{{508,218},{237,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightBrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{508,400},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,185}</string>
                <key>spriteSourceSize</key>
                <string>{318,185}</string>
                <key>textureRect</key>
                <string>{{365,720},{318,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightLid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,43}</string>
                <key>spriteSourceSize</key>
                <string>{118,43}</string>
                <key>textureRect</key>
                <string>{{685,720},{118,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surpassTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,94}</string>
                <key>spriteSourceSize</key>
                <string>{63,94}</string>
                <key>textureRect</key>
                <string>{{685,840},{63,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,174}</string>
                <key>spriteSourceSize</key>
                <string>{362,174}</string>
                <key>textureRect</key>
                <string>{{1,691},{362,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_game.png</string>
            <key>size</key>
            <string>{799,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7ae1d2384bee3c8449182effde20e3:77b075327986806b920e4443e95b3e52:1a51ee05fa5bcb6de76caab821ec3a4a$</string>
            <key>textureFileName</key>
            <string>ui_game.png</string>
        </dict>
    </dict>
</plist>
